{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "ignorePatterns": [
    "dist",
    "node_modules",
    "webpack.*",
    "config/paths.js"
  ],
  "root": true,
  "rules": {
//    "import/prefer-default-export": "off"
  }
}
